<form [formGroup]="filterForm" style="height: 25vh; overflow: scroll" (ngSubmit)="saveFilter()" id="createFilter">
  <div class="form-group row align-items-center">
    <label for="filterName" class="col-sm-1 col-form-label">Name</label>
    <div class="col-sm-3">
      <input formControlName="name" type="text" class="form-control" id="filterName" placeholder="Enter name" name="filterName">
    </div>
  </div>
  <div class="form-group align-items-center mt-4">
    <div class="row mt-4" *ngFor="let item of allCriterias; let index=index">
      <label for="criteriaName0" *ngIf="index === 0" class="col-sm-1 col-form-label">Criteria</label>
    <div class="col-sm-11 d-flex justify-content-between" [class.offset-sm-1]="index > 0">
    <select [id]="'criteriaName' + index" [name]="'criteriaName' + index" [value]="item.name.toLocaleLowerCase()" class="form-select" (change)="selectCriteria($event, index)">
      <option value="amount">Amount</option>
      <option value="title">Title</option>
      <option value="date">Date</option>
    </select>
      <select [formControlName]="'criteriaCondition' + index" class="form-select" [name]="'criteriaCondition' + index">
        <option *ngFor="let criteriaItem of item.conditionNames | keyvalue">{{ criteriaItem.value }}</option>
      </select>
      <input [formControlName]="'criteriaConditionValue' + index" class="form-control" [type]=item.type [value]="item.value" [name]="'criteriaConditionValue' + index">
    <div class="col-sm-1 text-center">
      <button type="button" class="btn bg-danger text-white" (click)="deleteCriteria(index)">-</button>
    </div>
  </div>
  </div>
  </div>
  <div class="form-group text-center mt-4">
  <button type="button"  class="btn text-uppercase bg-success btn-sm text-white" (click)="addARow()">+ add row</button>
  </div>
  <div class="form-group row align-items-center mt-2">
    <label for="selection1" class="col-sm-1 col-form-label">Selection</label>
    <div class="col-sm-5 d-flex flex-row justify-content-between">
      <div class="form-check" *ngFor="let selection of selectionInputs; let index=index">
        <input
          type="radio"
          [id]="'selection' + (index + 1)"
          [value]="selection"
          name="selection"
          formControlName="selection">
        <label [for]="'selection' + (index + 1)" class="col-form-label" style="margin-left: 0.5rem">
          {{ selection }}
        </label>
      </div>
    </div>
  </div>
</form>
